/* colors */
$white:#ffffff;
$black:#000000;
$border:#bdbdbd;
$blue:#2D9CDB;
$pink: #EB5757;
$bringle:#5c0f80;
$dark_bringle:#5A5096;

/* font weight */
$regular:normal;
$med:500;
$bold:bold;

/* font */
$font: 'Roboto', sans-serif;