figure {
    margin:0;
}

.row_list {
    display:flex;
    flex-wrap:wrap;
    flex-direction:row;
    justify-content: space-between;
}

.movie {
    border:1px solid rgba($black, 0.4);
    border-radius:4px;
    padding:10px;
    flex-grow:1;
    .poster {
        margin-bottom:15px;
        img {
            width:100%;
            max-width:none;
        }
    }
    h2 {
        margin-bottom:10px;
        color:$blue;
        font-weight:$med;
    }
    .movie_yrs {
        color:rgba($black, 0.4);
        font-weight:$med;
        margin-bottom:0;
    }
    &.mob_hide {
        display:none;
        @include devicebreak(tablet) {
            display:block;
        }
    }
}

.thank-you {
    display:flex;
    width:100%;
    position:fixed;
    left:0;
    bottom:0;
    align-items: center;
    justify-content: center;
    padding:20px 15px; 
    background-color:$blue;
    @include font-size(20px);
    font-weight:$med;
    color:$white;
    z-index:-1;
    transform:translateY(100%);
    transition: all 0.2s ease-in-out;
    opacity:0;
    &.active {
        transform:translateY(0);
        z-index:2;
        transition: all 0.2s ease-in-out;
        opacity:1;
    }
}
