.form-group {
    padding:0;
    border:0;
    .label {
        margin-bottom:6px;
        @include devicebreak(desktop) {
            margin-bottom:4px;
        }
    }
    input {
        &.in-error {
            + .error {
                display:inline-block;
                margin-top:2px;
            }
        }
    }
}